* Package name     : {{ package_name }}
  Version          : {{ version }}
  Upstream Author  : {{ upstream_author }}
* Url              : {{ homepage }}
* Licenses         : {{ licenses|join(',') }}
  Programming Lang : {{ languages|join(',') }}
  Section          : {{ section }}

{{ long_description }}
